.about_imgs.split_33
  = image_tag("about_4.jpg")
.about_imgs.split_33
  = image_tag("about_2.jpg")
.about_imgs.split_33
  = image_tag("about_3.jpg")
.about_content.content 
  .side_quote.column.split_3
    %h2 A Small Family run shop in Norfolk aiming to put the wow into your home and business.
  .column.split_7
    %h1 About Us
    %h5 Wooden Art World came about from a holiday in Indonesia. A chance encounter meant we saw the art and furniture for the first time, and much like people who come to our shop - we were blown away. That is the funamental nature of our shop and company, we truly believe in the stunning nature of our products and continue to be amazed at the quality art and crafts of those small Indonesian Artists.
    %p We visit our artists and craftsman continually throughout the year to personally source the pieces that come into the UK. We also make requests for bespoke pieces, both directly from our customers and to bring some flavour to our store. It is this close relationship with those in Indonesia that helps drive our passion.<br><br>We have a strong belief and import all of our products directly from the artists and craftsman who make them. Because of this, we have full control over how the people making these stunning pieces get payed. We personally ensure that all those working to bring these things to you are paid well, that all things are produced ethically and responsibly.