.image_scroll_bar  
  %h1 IMAGE SCROLL BAR INSERTED HERE | FULL WIDTH |
.content
  .welcome_message
    %h3 Welcome. We are Wooden Art World. We sell Amazing and Unique hand-carved Art and Furniture. Take a look around.
  .service_grid_heading
    %h2 Our Works
  .services_grid