.enquiry_form {
  background: #441414;
  color: #fff;
  padding: 30px 40px;
  border-radius: 4px;
  text-align: center;
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 100px;
  }
  .field {
    padding: 14px 0;
  }
}
.actions_button {
  color: $text-black;
  width: 20%;
}