/*ABOUT*/
.about_imgs {  
  float: left;
  box-sizing: border-box;
}
.about_content {
  font-family: bitter, serif;
  h1 {
    font-size: 3.425em;
    line-height: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  h5 {
    font-weight: normal;
    text-transform: uppercase;
    color: #666;
    line-height: 28px;
  }
  p {
    line-height: 1.75em;
      margin: 0 0 40px;
  }
}
.side_quote {
  h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 28px;
    font-family: serif;
    color: #720000;
    margin: 130px 0 0;
  }
}
