.content 
  .column.split_3
    %p Contact us using the details below or the form.<br><br>
    %p Tel: 07733 36 35 34
    %p Email: shop@woodenartworld.co.uk /<br> john.yarnton@hotmail.com<br><br>
    %p address:<br>3 Blake Road<br>Ipswich<br>Suffolk<br>IP1 6EN
  .enquiry_form.column.split_4
    = render 'enquiries/form'